In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [29]:
PATH = os.path.join(os.path.abspath(os.getcwd()),'data',"majors.csv")
PATH

'/home/mazi/Data_Science_ML/College-Entrance-Examination---ML/data/majors.csv'

In [9]:
file = os.getcwd()

'/home/mazi/Data_Science_ML/College-Entrance-Examination---ML'

In [26]:
path = file + "/data/majors.csv"

# Lets look at the Univeristy Majors and scores

In [30]:
majors = pd.read_csv("../College-Entrance-Examination---ML/data/majors.csv")

In [31]:
majors

,Unnamed: 0,id_major,id_university,type,major_name,capacity
0,0,1111014,111,science,PENDIDIKAN DOKTER HEWAN,88
1,1,1111022,111,science,TEKNIK SIPIL,64
2,2,1111037,111,science,TEKNIK MESIN,48
3,3,1111045,111,science,TEKNIK KIMIA,48
4,4,1111053,111,science,ARSITEKTUR,48
...,...,...,...,...,...,...
3162,3162,9212011,921,humanities,EKONOMI PEMBANGUNAN,32
3163,3163,9212042,921,humanities,MANAJEMEN,32
3164,3164,9212057,921,humanities,AKUNTANSI,32
3165,3165,9212065,921,humanities,PENDIDIKAN BAHASA INDONESIA,16
3166,3166,9212073,921,humanities,PENDIDIKAN BAHASA INGGRIS,16